@import "utilities";
@import "config";

%btn {
    justify-self: center;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 18px;
    border-radius: 52%;
    background-color: #AFEEEE;
}

